@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@400;700&display=swap');
:root{
    /* font families */
    --varela : 'Varela', sans-serif;
    --roboto : 'Roboto', sans-serif;
    --spoint : 'Sulphur Point', sans-serif;

    /* font-weight */
    --fw-250: 250;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --text-color: #fafafa;
    --main-color: #ffa343;
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
    --bg-color: #000;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}



body{
    background-color: #001;
    color: var(--text-color);
    font-family: var(--roboto);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}

.logo{
    font-size: 33px;
    color: #ffa343;
    font-weight: var(--fw-600);
    font-family: var(--spoint);
}

span{
    color: #fafafa;
}

.navbar{
    display: flex; 
}
.navbar a{
    color: #fafafa;
    font-size: 1rem;
    font-family: var(--varela);
    font-weight: var(--fw-600);
    margin: 14px 21px;
    transition: all .5s ease;
}
.navbar .lastchild{
    background-color: #ffa343;
    color: #fafafa;
    padding: 5px 8px;
    background: var(--main-color);
    font-size: 15px;
    font-weight: var(--fw-600);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.navbar .lastchild:hover{
    background: transparent;
    border: 2px solid #ffa343;
}
.navbar a:hover{
    color: #ffa343;
}

.h-right{
    display: flex;
    align-items: center;
}
.h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}
.h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 4px;
    transition: all .5s ease;
}

.h-right a:hover{
    color: #ffa343;
    transform: translateY(-3px);
}

#menu-icon{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 40px 17% 60px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../img/island.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h3{
    font-size: 27px;
    font-weight: var(--fx-800);
    font-family: var(--spoint);
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: var(--main-color);   
}
.home-text h1 p{
    font-size: var(--h1-font);
    font-weight: var(--fw-700);
    line-height: 1.2;
    margin-bottom: 20px;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: var(--fw-500);
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 10px;
}

.btn{
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: #ffffffab;
    font-size: 15px;
    font-weight: var(--fw-600);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: translateX(10px);
    border: 2px solid var(--main-color);
    background: transparent;
    color: var(--main-color);
}

header.sticky{
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(35px);
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.row-img{
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.row-img img{
    width: 100%;
    display: block;
    transition: transform 0.7s;
}

.row-img img:hover{
    transform: scale(1.2);
}
.feature-content h4{
    font-size: 17px;
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.feature-content h4:hover{
    color: var(--main-color);

}

.holiday{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.holiday-img img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.holiday-text h5{
    font-size: 20px;
    font-weight: var(--fw-500);
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
.holiday-text h2{
    font-size: var(--h2-font);
    font-weight: 2.5rem;
    line-height: 1.05;
    margin-bottom: 25px;
}

.holiday-text p{
    font-size: var(--p-font);
    font-weight: var(--fw-500);
    line-height: 25px;
    color: #ffffffab;
    margin-bottom: 25px;
}

.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font);
    font-weight: var(--fw-800);
}

.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.box{
    position: relative;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}

.box h6{
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 17px;
    font-weight: var(--fw-500);
    cursor: pointer;
}
.box h4{
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 20px;
    font-weight: var(--fw-700);
    cursor: pointer;
}
.box img:hover{
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.05);
    cursor: pointer;
}

.center-btn{
    text-align: center;
    margin-top: 4rem;
    
}
.culture{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.culture-img img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.culture-text h5{
    font-size: 20px;
    font-weight: var(--fw-500);
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
}
.culture-text h2{
    font-size: var(--h2-font);
    font-weight: 2.5rem;
    line-height: 1.05;
    margin-bottom: 25px;
}

.culture-text p{
    font-size: var(--p-font);
    font-weight: var(--fw-500);
    line-height: 25px;
    color: #ffffffab;
    margin-bottom: 25px;
}
.news-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.news-text h2{
    font-size: var(--h2-font);
    font-weight: var(--fw-800);
    margin-bottom: 14px;
}
.news-text p{
    font-size: var(--p-font);
    font-weight: var(--fw-600);
    color: #ffffffab;
}

.news-content form{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.news-content form input:first-child{
    padding: 15px;
    background: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 5px;
}
.news-content form input:first-child::placeholder{
    font-family: var(--spoint);
    font-weight: var(--fw-600);
    font-size: var(--p-font);
}

/*footer design*/

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 2rem;
}

.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
    font-size: 23px;
    font-weight: var(--fw-600);
    margin-bottom: 14px;
}
.footer-box a{
    color: #ccc;
    margin-bottom: 0.8rem;
    transition: all .5s ease;
}
.footer-box a:hover{
    transform: translateX(-5px) scale(1.06);
    color: var(--main-color);
}

.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: #202020;
    color: #fafafa;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform all 0.6s ease-in-out;
}
.social a:hover{
    background-color: var(--main-color);
    color: #000;
    transform: translateX(-4px);
}

/*copyright*/
.copyright p{
    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px;
    font-weight: var(--fw-500);
}

/*width*/
@media(max-width: 1700px){
    header{
        padding: 17px 8%;
    }
    header.sticky{
        padding: 7px 8%;
    }
    section{
        padding: 50px 8% 40px;
    }
}
@media(max-width: 1200px){
    header{
        padding: 14px 5%;
    }
    header.sticky{
        padding: 7px 5%;
    }
    section{
        padding: 45px 5% 35px;
    }
    :root{
    --h1-font: 4.6rem;
    --h2-font: 2.8rem;
    --p-font: 15px;
    }
    .home{
        height: 90vh;
    }
}
@media(max-width: 1050px){
    .feature-content{
        gap: 1.5rem;
    }

    .holiday{
        gap: 3rem;
    }

    .culture{
        gap: 3rem;
    }

    
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        transition: all .5s ease;
    }
    .navbar a{
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 1.7rem;
        font-weight: var(--fw-400);
    }
    .lastchild{
        display: block;
        padding: 0;
        font-size: 1rem;
        font-weight: var(--fw-400);
        width: 12.5%;
        text-align: center;
    }
    .navbar.open{
        left: 0;
    }
}

@media(max-width: 800px){
    .holiday{
        grid-template-columns: 1fr;
    }
    .culture{
        grid-template-columns: 1fr;
    }
    .tour-content{
        grid-template-columns: 1fr;
    }
    .news-content{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.1rem;
    }
    .home{
        height: 85vh;
    }
}
@media(max-width: 450px){
    header{
        padding: 12px 3%;
    }
    header.sticky{
        padding: 7px 3%;
    }
    section{
        padding: 60px 3% 50px;
    }
}

